[Desktop Entry]
Name=AuroraeQKDark
Comment=An Aurorae decoration for QKDark
X-KDE-PluginInfo-Author=Tsu Jan
X-KDE-PluginInfo-Email=tsujan2000@gmail.com
X-KDE-PluginInfo-Website=None
X-KDE-PluginInfo-License=GPL_V3
